<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>***REMOVED***</title>
    <link rel="shortcut icon" href="/static/images/logo/logoTitle.png" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/static/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
</head>

<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-head">
                    <div class="col-md-4 col-sm-4">
                        <a href="/index">
                            <img class="img-header" src="/static/images/logo/Logo.png" width="198%" height="100%">
                        </a>
                    </div>
                </div>

                <div class="sidebar-menu sidebar-text">
                    <ul class="menu">
                        <li class="sidebar-title">Menu</li>
                        <li class="sidebar-item">
                            <a href="/index" class='sidebar-link'>
                                <i class="fas fa-map-marked-alt" style="color: white"></i>
                                <span>Heatmap</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a href="/timelapse" class='sidebar-link'>
                                <i class="fas fa-history" style="color: white"></i>
                                <span>Timelapse</span>
                            </a>
                        </li>

                        <li class="sidebar-item active">
                            <a href="/analytics" class='sidebar-link'>
                                <i class="fas fa-chart-area" style="color: white"></i>
                                <span>Analytics</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        </div>
        <div id="main" style="background: #f1f1f1">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <div class="page-heading">
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-md-6 order-md-1 order-last">
                            <h3>Analytics</h3>
                            <p class="text-subtitle text-muted">An application for user </p>
                        </div>
                    </div>
                </div>
                <section class="section">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title">Coming Soon!</h5>
                                </div>
                                <div class="card-body">
                                    If you want to contribute. Check out this <a href="https://github.com/zuramai/mazer"
                                        target="_blank">template repository</a>.
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <hr>
            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="top-pad">
                    <div class="float-start">
                        <p>2021 &copy; WiFi Monitor</p>
                    </div>
                    <div class="float-end">
                        <p>Projeto em Engenharia Informática - Grupo 05 - MIECT</p>
                    </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="/static/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>
</html>
