<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WiFiMonitor</title>
    <link rel="shortcut icon" href="/static/images/logo/logoTitle.png" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/vendors/iconly/bold.css">
    <link rel="stylesheet" href="/static/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/static/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/css/ourStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
</head>

<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-head">
                    <div class="col-md-4 col-sm-4">
                        <a href="/">
                            <img class="img-header" src="/static/images/logo/Logo.png" width="260%" height="100%">
                        </a>
                    </div>
                </div>

                <div class="sidebar-menu sidebar-text">
                    <ul class="menu">
                        <li class="sidebar-title">Menu</li>
                        <li class="sidebar-item">
                            <a href="/" class='sidebar-link'>
                                <i class="fas fa-map-marked-alt" style="color: white"></i>
                                <span>Heatmap</span>
                            </a>
                        </li>

                        <li class="sidebar-item active has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="fas fa-chart-area" style="color: white; margin-right: 7px;"></i>
                                <span>Analytics</span>
                            </a>
                             <ul class="submenu">
                                <li class="submenu-item ">
                                    <a href="/overview" style="color: white">Overview</a>
                                </li>
                                 <li class="submenu-item ">
                                    <a href="/campus_distribution" style="color: white">Campus Distribution</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="/specific_building" style="color: white">Building Statistics</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="/specific_building_monthly_users" style="color: white">Monthly Users</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="main" style="background: #f1f1f1">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <div class="page-heading">
                <h3>Campus Distribition</h3>
                <br>
                <h5></h5>
            </div>

            <div class="page-content">
                <section class="row">
                    <div class="col-12 col-lg-9">

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Distribution through buildings</h4>
                                    </div>
                                    <div class="card-body">
                                        <canvas id="population_building_graph" data-url="{% url 'population_building_graph' %}"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </section>
            </div>

            <hr>
            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="top-pad">
                    <div class="float-start">
                        <p>2021 &copy; WiFi Monitor</p>
                    </div>
                    <div class="float-end">
                        <p>Projeto em Engenharia Informática - Grupo 05 - MIECT</p>
                    </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="/static/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/vendors/apexcharts/apexcharts.js"></script>
    <script src="/static/js/pages/dashboard.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

    <script>
     $(function () {

      var $myGraph = $("#population_building_graph");
      $.ajax({
        url: $myGraph.data("url"),
        success: function (data) {

          var ctx = $myGraph[0].getContext("2d");

          new Chart(ctx, {
            type: 'bar',
            data: {
              labels: data.labels,
              datasets: [{
                label: 'Population',
                backgroundColor: 'blue',
                data: data.data
              }]
            },
            options: {
              responsive: true,
              legend: {
                position: 'top',
              },
              title: {
                display: true,
                text: 'Population Bar Chart'
              }
            }
          });

        }
      });

    });
  </script>

</body>
</html>
