{% block content %}

  <div id="container" style="width: 75%;">

    <canvas id="myGraph" data-url="{% url 'line_graph' %}"></canvas>


  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>
     $(function () {

      var $myGraph = $("#myGraph");
      $.ajax({
        url: $myGraph.data("url"),
        success: function (data) {

          var ctx = $myGraph[0].getContext("2d");

          new Chart(ctx, {
            type: 'line',
            data: {
              labels: data.labels,
              datasets: [{
                label: 'Population',
                backgroundColor: Utils.transparentize(Utils.CHART_COLORS.blue, 0.5),
                data: data.data
              }]
            },
            options: {
              responsive: true,
              legend: {
                position: 'top',
              },
                interaction: {
                mode: 'index',
                intersect: false,
                },
                stacked: false,
              title: {
                display: true,
                text: 'Population through the day'
              }
            }
          });

        }
      });

    });




  </script>

{% endblock %}