<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WiFiMonitor</title>
    <link rel="shortcut icon" href="/static/images/logo/logoTitle.png" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/static/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
</head>

<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-head">
                    <div class="col-md-4 col-sm-4">
                        <a href="/">
                            <img class="img-header" src="/static/images/logo/Logo.png" width="260%" height="100%">
                        </a>
                    </div>
                </div>

                <div class="sidebar-menu sidebar-text">
                    <ul class="menu">
                        <li class="sidebar-title">Menu</li>
                        <li class="sidebar-item">
                            <a href="/" class='sidebar-link'>
                                <i class="fas fa-map-marked-alt" style="color: white"></i>
                                <span>Heatmap</span>
                            </a>
                        </li>

                        <li class="sidebar-item active has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="fas fa-chart-area" style="color: white; margin-right: 7px;"></i>
                                <span>Analytics</span>
                            </a>
                             <ul class="submenu">
                                <li class="submenu-item ">
                                    <a href="/overview" style="color: white">Overview</a>
                                </li>
{#                                 <li class="submenu-item ">#}
{#                                    <a href="/campus_distribution" style="color: white">Campus Distribution</a>#}
{#                                </li>#}
                                <li class="submenu-item ">
                                    <a href="/specific_building" style="color: white">Building Statistics</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="main" style="background: #f1f1f1">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <div class="page-heading">
                <h3>Building Statistics {{time|safe}}</h3>
                <br>
                <h5></h5>
            </div>

            <div class="page-content">
                <section class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Average number of devices connected in each of the last 24 hours</h4>
                                    </div>

                                    <div class="card-body">
                                        <form method="post" action="{% url 'specific_building' %}" style="text-align: center; margin-bottom: 25px">
                                            {% csrf_token %}
                                            {{specific_building_form.departs}}
                                            <input id ="submitIn" type="hidden" name="myinput" value="0" />
                                            <button type="submit" class="btn btn-primary ml-1" name="specific_building_submit" style="background-color:#0E94f1; border-color:#0E94f1"> Submit </button>
                                        </form>

                                        <div id="container" style="width: 100%; align-items: center">
                                            <canvas id="line_Graph"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header" style="text-align: center">
                                    <h4>Average number of users in each of the last 24 hours</h4>
                                </div>
                                <div class="card-body" style="width: 90%; height: 70%; align-self: center">
                                    <canvas id="usersConnected" style="width: 60%; height: 40%"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header" style="text-align: center">
                                    <h4>Devices types</h4>
                                </div>
                                <div class="card-body" style="width: 60%; height: 40%; align-self: center">
                                    <canvas id="devicesTypes" style="width: 60%; height: 40%"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="card">
                                <div class="card-header" style="text-align: center">
                                    <h4>Users distribution per month</h4>
                                </div>
                                <div class="card-body">
                                    <canvas id="usersMonth"></canvas>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-6">
                            <div class="card">
                                <div class="card-header" style="text-align: center">
                                    <h4>Users distribution per week</h4>
                                </div>
                                <div class="card-body">
                                    <canvas id="usersWeek"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <hr>
            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="top-pad">
                    <div class="float-start">
                        <p>2021 &copy; WiFi Monitor</p>
                    </div>
                    <div class="float-end">
                        <p>Projeto em Engenharia Informática - Grupo 05 - MIECT</p>
                    </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.2.1/dist/chart.min.js"></script>
    <script src="/static/js/calendar.js"></script>
    <script src="/static/js/calendar_b.js"></script>
    <script src="/static/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>

    <script>
    var configLine = {
      type: 'line',
      data: {
        datasets: [{
          data: {{ dataDist|safe }},
          label: 'Devices Conected',
          backgroundColor : '#3d95ef',
          borderColor: '#3d95ef'
        }],
        labels: {{ labelsDist|safe }}
      },
      options: {
        responsive: true
      }
    };

    var configUser = {
      type: 'line',
      data: {
        datasets: [{
          data: {{ dataUser|safe }},
          label: 'Users Conected',
          backgroundColor : '#3d95ef',
          borderColor: '#3d95ef'
        }],
        labels: {{ labelsUser|safe }}
      },
      options: {
        responsive: true
      }
    };

    var configDevices = {
        type: 'doughnut',
        data: {
            datasets: [{
                data: {{ dataDevices|safe }},
                label: 'Upload bandwidth',
                backgroundColor: ["#43c6df", "#2c98e4", "#0d6caf"],
                borderColor : 'white'
            }],
            labels: {{ devices|safe }}
        },
        options: {
            responsive: true,
            interaction: {
                mode: 'index',
                intersect: false,
            },
            stacked: false,

        }
    };

    var configMonth = {
        type: 'line',
        data: {
            labels: {{labelsMonth|safe}},
            datasets: [{
            label: 'Users',
            data: {{dataMonth|safe}},
            borderColor: '#3d95ef',
            }]
        },
        options: {
            responsive: true,
            interaction: {
                mode: 'index',
                intersect: false,
            },
            stacked: false,
        }
    };

    var configWeek = {
        type: 'line',
        data: {
            labels: {{labelsWeek|safe}},
            datasets: [{
                label: 'Users',
                data: {{dataWeek|safe}},
                borderColor: '#3d95ef'
            }]
        },
        options: {
            responsive: true,
            interaction: {
                mode: 'index',
                intersect: false,
            },
            stacked: false,
        }
    };

    window.onload = function() {
    var ctl = document.getElementById('line_Graph')
    var usl = document.getElementById('usersConnected')
    var ctdevices = document.getElementById('devicesTypes')
    var ctm = document.getElementById('usersMonth')
    var ctw = document.getElementById('usersWeek')
    window.linechart = new Chart(ctl, configLine);
    window.linechart = new Chart(usl, configUser);
    window.devicesChart = new Chart(ctdevices, configDevices);
    window.monthChart = new Chart(ctm, configMonth);
    window.weekChart = new Chart(ctw, configWeek);
  };
    </script>

    <script src="assets/vendors/apexcharts/apexcharts.js"></script>
    <script src="assets/js/pages/dashboard.js"></script>
</body>
</html>
